{% extends 'base.html' %}
{% load static %}
{% load form_utils %}
{% block content %}
    <br/>
    <div class="row">
        <div class="col-xs-2">
            <img src="{{ object.image }}" class="img-thumbnail img-responsive" style="height: 200px;"/>
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Title:</label>

                        {{ object.title }}
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Year:</label>
                        {{ object.year }}
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Rating:</label>
                        {{ object.rating }}
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Url:</label>

                        {{ object.url }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <form action="{% url 'SERIE_episode' %}" method="get">
        <input name="serie" id="serie" value="{{ object.id }}" class="hidden"/>
        <div class="row">
            <div class="col-md-2 col-xs-12">
                <a href="javascript:history.back()" class="btn btn-default btn-block">
                    <i class="fa fa-angle-left"></i> Back</a>
            </div>
            <div class="col-md-2 col-xs-12">
                <button type="button" class="btn btn-default btn-block" id="generate_list">
                    <i class="fa fa-rotate-left"></i> Generate List
                </button>
            </div>
            <div class="col-md-2 col-xs-12">
                <button type="submit" class="btn btn-info btn-block">Assistir Playlist</button>
            </div>
        </div>
        <br/>
        <div class="row">
            {% for episodio in serie.episodio_set.all %}
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-title">
                            <a href="{% url 'SERIE_episode' %}?serie={{ object.id }}&ids={{ episodio.id }}">
                                <img class="img-responsive" style="position:relative;"
                                     src="{{ episodio.image }}"/>
                                {% if episodio.is_assistido %}
                                    <span class="pull-right"
                                          style="z-index: 100;
                                        position:absolute;
                                        top:0;"> Assistido <i class="fa fa-check-circle"
                                                              style="color: greenyellow;"></i> </span>
                                {% endif %}
                            </a>
                        </div>
                        <div class="panel-body">
                            <label style="font-size: 10px;">{{ episodio.number }}: {{ episodio.title|truncatechars:10 }}</label>
                            <input type="checkbox" name="ids" value="{{ episodio.id }}"/>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#serie_link').addClass('active');
            var ids = [];

            function arrayRemove(arr, value) {
                return arr.filter(function (ele) {
                    return ele != value;
                });
            }

            $(':checkbox').change(function () {
                var val = $(this).val();
                if ($(this).is(':checked')) {
                    ids.push(val);
                    console.log(ids);
                } else {
                    ids = arrayRemove(ids, val);
                    console.log(ids);
                }
            });

            function get_form_checkboxes() {
                var query = '';
                ids.forEach(function (id) {
                    query += ('&ids=' + id);
                });
                return query
            }

            $('#generate_list').click(function () {
                $('#loading').show();
                var formData = get_form_checkboxes();
                console.log(formData);
                $.get("{% url 'generate_list_episodes' %}", formData, function (data) {
                    console.log('Generate List M3u8 ...');
                }).done(function (data) {
                    $('#loading').hide();
                    console.log(data);
                    swal("Sucesso", data['message'], "success");
                }).fail(function () {
                    $('#loading').hide();
                    swal("Falhou", 'Tente Novamente', "error");
                });
            });
        });
    </script>
{% endblock %}
