{% extends 'base.html' %}
{% load static %}
{% load form_utils %}
{% block content %}
    <h3 class="page-header">View Serie</h3>

    <div class="row">
        <div class="col-xs-4">
            <div class="form-group">
                <label>Title:</label>

                {{ object.title }}
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label>Year:</label>

                {{ object.year }}
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label>Rating:</label>

                {{ object.rating }}
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label>Image:</label>

                {{ object.image }}
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label>Url:</label>

                {{ object.url }}
            </div>
        </div>

    </div>
    <hr/>
    <div id="actions" class="row">
        <div class="col-xs-12">
            <a href="{% url 'SERIE_list' %}" class="btn btn-default">Back</a>
        </div>
    </div>
    <br/>
    <form action="{% url 'SERIE_episode' %}" method="get">
        <input name="serie" id="serie" value="{{ object.id }}" class="hidden"/>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-default pull-left" id="generate_list">
                    <i class="fa fa-rotate-left"></i> Generate List
                </button>
                <button type="submit" class="btn btn-info pull-right">Assistir Playlist</button>
            </div>
        </div>
        <br/>
        <div class="row">
            {% for episodio in serie.episodio_set.all %}
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-title">
                            <img class="img-responsive"
                                 src="{{ episodio.image }}"/>
                            {% if episodio.is_assistido %}
                                <span class="pull-right"> Assistido <i class="fa fa-check-circle"
                                                                       style="color: greenyellow;"></i> </span>
                            {% endif %}
                        </div>
                        <div class="panel-body">
                            <p class="text-center">
                                <label>{{ episodio.number }}: {{ episodio.title|truncatechars:30 }}</label>
                            </p>
                            <p class="text-center">
                                {{ episodio.date }}
                            </p>
                            <p class="text-center">
                                <input type="checkbox" name="ids" value="{{ episodio.id }}"/>
                            </p>
                        </div>
                        <div class="panel-footer text-center">
                            <a class="btn btn-primary"
                               href="{% url 'SERIE_episode' %}?serie={{ object.id }}&ids={{ episodio.id }}">
                                Assistir
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#serie_link').addClass('active');
            var ids = [];

            function arrayRemove(arr, value) {
                return arr.filter(function (ele) {
                    return ele != value;
                });
            }

            $(':checkbox').change(function () {
                var val = $(this).val();
                if ($(this).is(':checked')) {
                    ids.push(val);
                    console.log(ids);
                } else {
                    ids = arrayRemove(ids, val);
                    console.log(ids);
                }
            });

            function get_form_checkboxes() {
                var query = '';
                ids.forEach(function (id) {
                    query += ('&ids=' + id);
                });
                return query
            }

            $('#generate_list').click(function () {
                $('#loading').show();
                var formData = get_form_checkboxes();
                console.log(formData);
                $.get("{% url 'generate_list_episodes' %}", formData, function (data) {
                    console.log('Generate List M3u8 ...');
                }).done(function (data) {
                    $('#loading').hide();
                    console.log(data);
                    swal("Sucesso", data['message'], "success");
                }).fail(function () {
                    $('#loading').hide();
                    swal("Falhou", 'Tente Novamente', "error");
                });
            });
        });
    </script>
{% endblock %}
