{% extends 'base.html' %}
{% load static %}
{% load form_utils %}
{% block content %}
    <script src="//cdn.jsdelivr.net/npm/hls.js@latest"></script>

    <script src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clappr-chromecast-plugin@latest/dist/clappr-chromecast-plugin.min.js"></script>

    <h3 class="page-header">View Serie</h3>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>m3u8:</label>

                {{ m3u8 }}
            </div>
        </div>
    </div>
    <hr/>
    <div id="actions" class="row">
        <div class="col-md-12">
            <a href="{% url 'SERIE_list' %}" class="btn btn-default">Back</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            <div id="Player">
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#serie_link').addClass('active');
        });
    </script>

    <script>

        var player = new Clappr.Player({
            source: "{{ m3u8|safe }}",
            plugins: [ChromecastPlugin],
            parentId: "#Player",
            chromecast: {
                appId: '9DFB77C0',
                media: {
                    type: ChromecastPlugin.None,
                }
            },
            width: '640px',
            height: "360px",
            mediacontrol: {seekbar: "#900", buttons: "#FFFFFF"}
        });
        player.setVolume(100);
        player.play();

    </script>
{% endblock %}
