{% extends 'base.html' %}
{% load static %}
{% load form_utils %}
{% block content %}

    <script src="//cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
    <script src='//cdn.jsdelivr.net/npm/@clappr/hlsjs-playback@latest/dist/hlsjs-playback.min.js'></script>
    <script type="text/javascript"
            src="//cdn.jsdelivr.net/gh/clappr/clappr-level-selector-plugin@latest/dist/level-selector.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@clappr/stats-plugin@latest/dist/clappr-stats.min.js"
            type="text/javascript"></script>

    <h3 class="page-header">View Channel</h3>

    <div class="row">
        <div class="col-xs-4">
            <div class="form-group">
                <label>Title:</label>

                {{ object.title }}
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label>Image:</label>

                {{ object.image }}
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label>Url:</label>

                {{ object.url }}
            </div>
        </div>

    </div>
    <hr/>
    <div id="actions" class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" href="{% url 'CHANNEL_update' channel.pk %}">
                Edit
            </a>
            <a href="{% url 'CHANNEL_list' %}" class="btn btn-default">Back</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="Player">
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#channel_link').addClass('active');
        });
    </script>
    <script>

        function getSecondsString(fileSizeInBytes) {
            return fileSizeInBytes.toFixed(1) + ' s';
        };

        function getReadableFileSizeString(fileSizeInBytes) {

            var i = -1;
            var byteUnits = [' kbps', ' Mbps', ' Gbps', ' Tbps', 'Pbps', 'Ebps', 'Zbps', 'Ybps'];
            do {
                fileSizeInBytes = fileSizeInBytes / 1024;
                i++;
            } while (fileSizeInBytes > 1024);

            return Math.max(fileSizeInBytes, 0.1).toFixed(1) + byteUnits[i];
        };

        var player = new Clappr.Player({
            parentId: "#Player",
            autoPlay: true,
            source: "{{ object.link_m3u8|safe }}",
            width: '640px',
            height: "360px",
            mediacontrol: {seekbar: "#900", buttons: "#FFFFFF"}
        });
        player.setVolume(100);
        player.play();

    </script>
{% endblock %}
