{% extends 'base.html' %}
{% load static %}
{% load form_utils %}
{% block content %}

    <style>
        .scrollable-panel {
            height: 200px;
            overflow-y: scroll;
            width: 100%;
        }
        .licontent>h2{
            font-size: 16px;
        }
        .licontent>h3{
            font-size: 14px;
        }
    </style>

    <script src="//cdn.jsdelivr.net/npm/hls.js@latest"></script>

    <script src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clappr-chromecast-plugin@latest/dist/clappr-chromecast-plugin.min.js"></script>
    <br/>

    <div id="actions" class="row">
        <div class="col-sm-6 col-xs-12">
            <button type="button" class="btn btn-primary" id="get_m3u8">
                Update M3u8
            </button>
            <a href="{% url 'CHANNEL_list' %}" class="btn btn-default">Back</a>
        </div>
        <div class="col-sm-6 col-xs-12">
            <a href="{% url 'CHANNEL_detail' previous_channel.id %}" class="btn btn-default">
                <i class="fa fa-arrow-circle-left"></i>
                Previous: {{ previous_channel.title }}
            </a>
            <a href="{% url 'CHANNEL_detail' next_channel.id %}" class="btn btn-default">
                <i class="fa fa-arrow-circle-right"></i>
                Next: {{ next_channel.title }}
            </a>
        </div>
    </div>
    <br/><br/>

    <div class="row">
        <div class="col-xs-12">
            <div id="Player">
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading" >
                    <h3 class="panel-title">Programação </h3>
                </div>
                <div class="panel-body scrollable-panel" id="demo" class="collapse">
                    {{ object.program_url|get_program_channel|safe }}
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        {% for channel_obj in list_category %}
            <div class="col-xs-6 col-sm-3 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <div class="row text-center">
                            <div class="col-xs-12">
                                <a href="{% url 'CHANNEL_detail' channel_obj.pk %}"><img src="{{ channel_obj.image }}"
                                                                                         class="img-responsive"
                                                                                         style="height: 100px;"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="form-group">
                <label>Title:</label>

                {{ object.title }}
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="form-group">
                <label>Url:</label>

                {{ object.url }}
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="form-group">
                <label>Prazo:</label>

                {{ object.link_m3u8|calc_prazo }}h
            </div>
        </div>
        <div class="col-sm-12 col-xs-12">
            <div class="form-group">
                <label>m3u8:</label>

                {{ object.link_m3u8 }}
            </div>
        </div>


    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#channel_link').addClass('active');

            $('#get_m3u8').click(function () {
                $('#loading').show();
                $.get("{% url 'get_m3u8_channel' object.id %}", function (data) {
                    console.log('Getting channel m3u8...');
                }).done(function (data) {
                    $('#loading').hide();
                    window.location.href = '';
                    console.log(data);
                }).fail(function () {
                    $('#loading').hide();
                });
            });
        });
    </script>
    <script>

        var player = new Clappr.Player({
            source: window.location.origin + "{% url 'playlist_m3u8' %}?id=" + "{{ object.id }}",
            plugins: [ChromecastPlugin],
            parentId: "#Player",
            chromecast: {
                appId: '9DFB77C0',
                media: {
                    type: ChromecastPlugin.None,
                }
            },
            width: '100%',
            height: "360px"
        });
        player.setVolume(100);
        player.play();

    </script>
{% endblock %}
