{% extends 'base.html' %}
{% load static %}
{% load form_utils %}
{% block content %}
    <div id="top" class="row">
        <div class="col-sm-3">
            <h2> {{ model_name_plural }}</h2>
        </div>
        <div class="col-sm-9">

            <button id="get_channels" type="button" class="btn btn-info pull-right h2"><i
                    class="fa fa-rocket"></i> Get Channels
            </button>
             <button id="get_m3u8" type="button" class="btn btn-info pull-right h2"><i
                    class="fa fa-tv"></i> Get M3U8
            </button>
            <a href="{% url 'CHANNEL_create' %}" class="btn btn-primary pull-right h2"><i
                    class="fa fa-plus"></i> Add Channel
            </a>
            <a href="{% url 'delete_all_channels' %}" class="btn btn-danger pull-right h2"><i
                    class="fa fa-trash"></i> Delete All
            </a>
        </div>
    </div> <!-- /#top -->
    <hr/>
    <form id="advancedForm" method="get" action="{% url 'CHANNEL_list' %}">
        {% csrf_token %}
        <div id="list" class="row">
            <div class="col-md-12">
                <table id="table" class="table table-striped" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>TITLE</th>
                        <th>HOURS</th>
                        <th>URL</th>
                        <th>PROGRAM</th>
                        <th class="actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div> <!-- /#list -->
    </form>

    <div id="modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Program</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="content" class="content"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function () {

            function getData() {
                var formData = $('#advancedForm').serializeArray().reduce(function (obj, item) {
                    obj[item.name] = item.value;
                    return obj;
                }, {});
                return formData;
            }

            $('#get_channels').click(function () {
                $('#loading').show();
                $.get("{% url 'get_channels' %}", function (data) {
                    console.log('Getting channels ...');
                }).done(function (data) {
                    $('#loading').hide();
                    window.location.href = '';
                    console.log(data);
                }).fail(function () {
                    $('#loading').hide();
                });
            });

            $('#get_m3u8').click(function () {
                $('#loading').show();
                $.get("{% url 'get_channels_m3u8' %}", function (data) {
                    console.log('Getting channels m3u8 for all ...');
                }).done(function (data) {
                    $('#loading').hide();
                    window.location.href = '';
                    console.log(data);
                }).fail(function () {
                    $('#loading').hide();
                });
            });

            $('#channel_link').addClass('active');
            var table = $('#table').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{% url 'CHANNEL_list_json' %}",
                    "data": function (d) {
                        return $.extend({}, d, getData());
                    }
                },
                columnDefs: [
                    {
                        targets: 3,
                        data: 'url',
                        "render": function (data, type, row, meta) {
                            return '<a href="' + row[3] + '" target="_blank">' + row[3] + '</a>';
                        }
                    },
                    {
                        targets: 4,
                        data: 'program',
                        "render": function (data, type, row, meta) {
                            return '<button type="button" class="btn btn-primary mods" data-id="' + row[0] + '" data-toggle="modal" data-target="#modal"><i class="fa fa-tv"></i></button>';
                        }
                    },
                    {
                        targets: -1,
                        data: 'id',
                        "render": function (data, type, row, meta) {
                            return '<a href="/channel/' + row[0] + '/" class="btn btn-info"><i\n' +
                                '                                    class="fa fa-eye"></i> Assistir</a>&nbsp;&nbsp;' ;
                        }
                    }
                ],
                order: [[0, "desc"]],
                "language": {
                    "lengthMenu": "Exibir _MENU_ registros por página",
                    "zeroRecords": "Nenhum item encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "emptyTable": "Sem dados disponíveis na tabela",
                    "infoFiltered": "(filtrado do total de _MAX_ registros)",
                    "thousands": ".",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ativar para classificar a coluna ascendente",
                        "sortDescending": ": ativar para classificar a coluna descendente"
                    }
                }
            }).on('draw.dt', function () {
                $('.mods').click(function () {
                    var id = $(this).data('id');
                    $.get("{% url 'get_content_url' %}", {'id': id}, function (data) {
                        console.log('Getting programming ...');
                    }).done(function (data) {
                        console.log(data);
                        $('#modal').find('div.content').html(data['content']);
                    }).fail(function () {
                        console.log('fail');
                        $('#loading').hide();
                    });

                });
            });

            $('input').on('keyup', function () {
                table.search('').draw();
            });

            $('#clear').click(function () {
                $("form")[0].reset();
                table.search('').draw();
            });
        });
    </script>

{% endblock %}
