{% extends 'base.html' %}
{% load static %}
{% load form_utils %}
{% block content %}
    <div id="top" class="row">
        <div class="col-sm-3 col-xs-12">
            <h2> {{ model_name_plural }}</h2>
        </div>
        <div class="col-sm-9 col-xs-12">
            <button id="get_movies" type="button" class="btn btn-info pull-right h2"><i
                    class="fa fa-rocket"></i> Get Movies
            </button>
            {#            <a href="{% url 'MOVIE_create' %}" class="btn btn-primary pull-right h2"><i#}
            {#                    class="fa fa-plus"></i> Add Movie#}
            {#            </a>#}
            {#            <a href="{% url 'delete_all_movies' %}" class="btn btn-danger pull-right h2"><i#}
            {#                    class="fa fa-trash"></i> Delete All#}
            {#            </a>#}
        </div>
    </div> <!-- /#top -->
    <hr/>
    <form id="advancedForm" method="get" action="{% url 'MOVIE_list' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12">

                {{ filter.form.as_p }}
                <button type="button" class="btn btn-default" id="clear"><i class="fa fa-close"></i> Clear</button>
            </div>
        </div>
    </form>
    <hr/>
    <form id="generateForm" method="get" action="">
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-default pull-right" id="generate_list">
                    <i class="fa fa-rotate-left"></i> Generate List
                </button>
            </div>

        </div>
        <br/>
        <div id="list" class="row">
            <div class="col-xs-12">
                <table id="table" class="table table-striped" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>IMAGE</th>
                        <th>TITLE</th>
                        <th>YEAR</th>
                        <th>RATING</th>
                        <th></th>
                        <th class="actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div> <!-- /#list -->
    </form>

    <script type="text/javascript">

        $(document).ready(function () {

            function getData() {
                var formData = $('#advancedForm').serializeArray().reduce(function (obj, item) {
                    obj[item.name] = item.value;
                    return obj;
                }, {});
                return formData;
            }

            $('#get_movies').click(function () {
                $('#loading').show();
                $.get("{% url 'get_movies' %}", function (data) {
                    console.log('Getting movies ...');
                }).done(function (data) {
                    $('#loading').hide();
                    console.log(data);
                    window.location.href = '';
                }).fail(function () {
                    $('#loading').hide();
                });
            });

            function get_form_checkboxes() {
                var query = '';
                ids.forEach(function (id) {
                    query += ('&ids=' + id);
                });
                return query
            }

            $('#generate_list').click(function () {
                $('#loading').show();
                var formData = get_form_checkboxes();
                console.log(formData);
                $.get("{% url 'generate_list_movies' %}", formData, function (data) {
                    console.log('Generate List M3u8 ...');
                }).done(function (data) {
                    $('#loading').hide();
                    console.log(data);
                    swal("Sucesso", data['message'], "success");
                }).fail(function () {
                    $('#loading').hide();
                    swal("Falhou", 'Tente Novamente', "error");
                });
            });

            $('#movie_link').addClass('active');
            var table = $('#table').DataTable({
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "ajax": {
                    "url": "{% url 'MOVIE_list_json' %}",
                    "data": function (d) {
                        return $.extend({}, d, getData());
                    }
                },
                columnDefs: [
                    {
                        targets: 5,
                        "render": function (data, type, row, meta) {
                            return '<input type="checkbox" name="ids" value="' + row[0] + '"/>';
                        }
                    },
                    {
                        targets: 1,
                        data: 'image',
                        "render": function (data, type, row, meta) {
                            return '<img class="img-thumbnail" style="height: 80px;" src="' + row[1] + '"/>';
                        }
                    },
                    {
                        targets: -1,
                        data: 'id',
                        "render": function (data, type, row, meta) {
                            return '<a href="/movie/' + row[0] + '/" class="btn btn-info"><i\n' +
                                '                                    class="fa fa-eye"></i> Assistir</a>&nbsp;&nbsp;';
                        }
                    }
                ],
                order: [[0, "desc"]],
                "language": {
                    "lengthMenu": "Exibir _MENU_ registros por página",
                    "zeroRecords": "Nenhum item encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "emptyTable": "Sem dados disponíveis na tabela",
                    "infoFiltered": "(filtrado do total de _MAX_ registros)",
                    "thousands": ".",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ativar para classificar a coluna ascendente",
                        "sortDescending": ": ativar para classificar a coluna descendente"
                    }
                },
                "pageLength": 100
            }).on('draw.dt', function () {
                $(':checkbox').change(function () {
                    var val = $(this).val();
                    if ($(this).is(':checked')) {
                        ids.push(val);
                        console.log(ids);
                    } else {
                        ids = arrayRemove(ids, val);
                        console.log(ids);
                    }
                });
            });

            $('input').on('keyup', function () {
                table.search('').draw();
            });

            $('#clear').click(function () {
                $("form")[0].reset();
                table.search('').draw();
            });


        });
        var ids = [];

        function arrayRemove(arr, value) {
            return arr.filter(function (ele) {
                return ele != value;
            });
        }


    </script>

{% endblock %}
